# Ignore Visual Studio files
.vs/
*.vcxproj
*.vcxproj.user
*.sln
*.vcxproj.filters

# Ignore build files
/build/
*.o
*.exe

# Ignore temporary files
*.log
# Ignore specific directories
Deserted.92059F20/
x64/

